# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
.vnv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/

# Environment variables / secrets
.env
.env.*
!.env.example

# Visual Studio
.vs/
*.user
*.suo

# OS files
.DS_Store
Thumbs.db

# Python tooling
.pytest_cache/
.coverage
htmlcov/

# IDE / editor
.idea/
.vscode/